
*{
    margin:0px;
    padding:0px;
}
/* nav-1 */
.nav1{
    display: flex;
    justify-content: space-between;
    padding:12px;
    font-family:Arial, Helvetica, sans-serif ;
    background-color: whitesmoke;
}
.nav-element1{
    display: flex;
    font-size: 13px;   
}
.nav-element1 p{
    margin: 0px 20px;
}
.nav-element2{
    font-size: 15px;
}
.facebook1{
    height:20px;
    width:20px;
    margin:0px 0px 0px 15px;
}
.instagram1{
    height:20px;
    width:20px;
    margin:0px 0px 0px 15px;
}
.pinterest1{
    height:20px;
    width:20px;
    margin:0px 0px 0px 15px;
}
.tiktok1{
    height:20px;
    width:20px;
    margin:0px 0px 0px 15px;
}
.spotify1{
    height:20px;
    width:20px;
    margin:0px 0px 0px 15px;
}
.email1{
    height:17px;
    width:20px;
    margin:0px 0px 0px 15px;
}
.nav-element3{
    display: flex;
    margin:0px 20px 0px 0px;   
}
/* nav-2 */
.nav2{
    background-color: black;
    color:white;
    display: flex;
}
.nav2-elements {
    display: flex;
    padding:25px;
    margin:0px 0px 0px 100px;
    font-size: 17px; 
}
.nav2-elements p{
    margin: 0px 25px 0px 0px;
    font-family:"Trebuchet MS", Helvetica, sans-serif;   
}
.heading{
    font-size: 25px;
    padding-top: 24px;
    margin:0px 0px 33px 300px;   
}
.nav2 img{
    height:15px;
    width:15px;
    margin:45px 0px 0px 30px;
}
.subscribe{
    color:#92ac5b;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}
/* section-1 */
#best-vegan{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    color: rgb(255, 255, 255);
}
#best-vegan h1{
margin-left: 100px;
font-size: 2.5rem;
}
#content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
#content a{
    font-size: 1.3rem;
    padding: 20px;
}
#container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:whitesmoke;
}
#firstrecepie{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    color: black;
}
#left-content{
    max-width: 40%;
    padding: 20px;
}
#right-content{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.cards{
    object-fit: cover;
    color: whitesmoke;
    margin:50px 1px 0px 0px;
    width: 100px;
    height: 300px;
}
.cards img{
    display: flex;
    flex-wrap: wrap;
    object-fit: cover;
    border-radius: 10px;
    width: 250px;
    height: 250px; 
}
#left-content h1{
    margin: 80px 0px 0px 80px;
    font-size: 4rem;
}
#left-content p{
    margin: 30px 0px 0px 80px;
    font-size: 1.3rem;
}
.cards:hover{ 
    transform:translateY(-20px);
    transition: transform 0.4s ease-in-out;
} 
/* section-2 */
.section2{
    text-align: center;
    background-color: black;
    color: white;
    padding-top: 50px;
}
.section2 h1{
    font-size: 35px;
}
.form{
    margin-top: 30px;
    padding-bottom: 75px;
}
.section2 input{
    height: 40px;
    width: 200px;
    margin: 5px;
    border-radius: 5px;
}
.section2 button{
    height: 45px;
    width: 175px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #92ac5b;
}
/* section-3 */
.section3 h1{
    color:#92ac5b;
    text-align: center;
    font-size: 35px;
    padding-top: 30px;
}
.icons{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
}
.icons img{
    height:120px;
    width:90px;
    padding-left: 15px;
}
.section3 p{
    text-align: center;
    margin: 35px 0px 300px 0px;
    text-decoration:underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 0px;
    text-decoration-color: #abcb68;
}
/* section-4 */
.section4{
    background-color: whitesmoke;
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding-left: 60px;
}
.section4 h1{
    color:#92ac5b;
    font-size: 35px;
    background-color: white;
    border-radius: 5px;
}
#latest-heading{
    display: flex;
    align-items: center;
}
.section4 svg{
    width: 4%;
}
#view-more{
    display: flex;
}
.section4 img{
    height: 50px;
    width:20px;
}
.section4 p{
    margin-right: 40px;
    text-decoration:underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 0px;
    text-decoration-color: #abcb68;
}
/* section-5 */
.pictures{  
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
}
.image-div{
    text-align: center;
}
.pictures img{
    width: 95%;
    height: 60%;
}
.pictures p{
    color: #92ac5b;
    font-size: 25px;
    width: 100%;
}
/* section-6 */
.section6{
    text-align: center;
    background-color:#a8ad9b;
}
.para1{
    padding-top: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 13px;
    color: #444939;
}
.section6 h1{
    padding-top: 40px;
    font-size:33px ;
    color: white;
}
.para2{
    font-size: 22px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #444939;
    padding-top: 20px;
}
.form-input input{
    padding: 15px 300px 15px 0px;
    border-radius: 10px;
    border-width: 1px;
}
.form-input button img{
    background-color: #c0da86;
    height:42px;
    width:50px;
    padding: 0px 20px 0px 20px;
}
.form-input button{
    background-color: #c0da86;
    border-color:#c0da86; 
}
.form-input{
    padding: 100px 0px 50px 0px;
    display: flex;
    justify-content: center;   
}
/* section-7 */
#breakfast-heading{
    display: flex;
    align-items: flex-end;
}
.section7 svg{
    width: 4%;
}
#view-more2{
    display: flex;
    align-items: flex-start;
}
.section7{
    background-color: whitesmoke;
    display: flex;
    align-items:self-end;
    justify-content: space-between;
    padding-left: 60px;
    margin: 0px 300px 0px 300px; 
}
.section7 h1{
    color:#92ac5b;
    font-size: 35px;
    background-color: white;
    border-radius: 5px;
    margin-top: 70px;  
}
.section7 img{
    height: 50px;
    width:20px;
}
.section7 p{
    margin-right: 40px;
    text-decoration:underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 0px;
    text-decoration-color: #abcb68;
}
/* section-8 */
.section8 {
    padding-bottom: 40px;
    width: 65%;
    margin: 10px 300px 0px 300px;
 }
 .inline-pictures{
     display: flex;
     gap: 4px;
     text-align: center;
 }
 .inline-pictures img{
     height:100%;
     width:100%;
 }
 .inline-pictures p{
     color:black;
     font-weight: bold;
     font-size: 16px;
     text-align: center;
 }
 /* section-9 */
 .section9{
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
 }
 .section9 img{
    width:30%;
    padding: 50px 0px;
 }
 .white-box{
    background-color: white;
    margin-top:100px;
    height: 100%;
    width:30%;
    text-align: center;
 }
 .div-heading{
    text-align: center;
    padding-top: 25px;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    font-size: 13px;
    color: #444939;
 }
 .section9 h1{
    text-align: center;
    color: #92ac5b;
    padding-top: 30px;
    font-size: 30px;
 }
 .div-content{
    text-align: center;
    padding:20px;
    line-height: 50px;
    font-size: 25px;
    color: #444939;
 }
 .section9 button{
    height: 40px;
    width: 65%;
    background-color: #abcb68;
    color: black;
    border: none;
    border-radius: 8px;
 }
 /* section-10 */
 #Culture-heading{
    display: flex;
    align-items:first baseline;
}
.section10 svg{
    width: 4%;
}
#view-more3{
    display: flex;
    align-items: flex-start;
}
 .section10{
    background-color: whitesmoke;
    display: flex;
    align-items:baseline;
    justify-content: space-between;
    padding-left: 60px;
    margin:0px 300px 0px 300px;
}
.section10 h1{
    color:#92ac5b;
    font-size: 35px;
    background-color: white;
    border-radius: 5px;
    margin-top: 70px; 
}
.section10 img{
    height: 50px;
    width:20px;
}
.section10 p{
    margin-right: 40px;
    text-decoration:underline;
    text-decoration-thickness: 8px;
    text-underline-offset: 0px;
    text-decoration-color: #abcb68;
}
 /* section-11 */

 .section11 {
    padding-bottom: 40px;
    margin:10px 0px 0px 400px;
 }
 .culture-images{
    display: flex;
 }
 .grid-pictures{ 
     display: grid;
     grid-template-columns: repeat(3,1fr);
     grid-template-rows: repeat(3,1fr); 
     height:100%;
     width: 60%;
     background-color:white;
 }
 .grid-pictures img{
     height:150px;
     width:120px;
     padding-left: 10px;
 }
 .grid-pictures p{
     margin-top: 10px;
     padding: 10px;
     color:black;
     font-weight: bold;
     font-size: 16px;
 }
 /* section-12 */
.section12{
    background-color: black;
}
.best-heading{
    text-align: center;
    color: white;
    font-size: 60px;
    padding-top: 40px;
}
.as-seen{
    color: white;
    text-align: center;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    padding-top: 40px;
    font-size: small;
}
.font-image-div{
    display: flex;
    justify-content: center;
    padding-top: 40px;
    margin-bottom: 40px;
}
.font-image-div img{
    height:30px;
    width: 145px;
    padding-right: 40px;
}
.first{
    color: white;
    width: 28%;
}
.first h1{
    font-size: 30px;
    margin-bottom: 10px;
}
.first p{
    font-size: 18px;
    line-height: 30px;
}
hr{
    color:#abcb68;
    opacity: 0.3;
}
.list-1{
    color:#92ac5b;
    line-height: 35px;
    opacity: 0.5;
}
.whole-div{
    display: flex;
    margin-top: 20px;
    justify-content: space-around;
    margin-bottom: 20px;
} 
.list-1{
    list-style:none;
}
#info-heading1{
    color: white;
    opacity: 1;
    margin-bottom: 10px;
}
#info-heading2{
    color: white;
    opacity: 1;
}
#info-heading3{
    color: white;
    opacity: 1;
}
.copyright{
    color: white;
    text-align: center;
    margin:20px 0px 20px 0px;
}
.footer-icon{
    display: flex;
    justify-content: center; 
    padding-bottom: 20px; 
}
/* section-13 */
.section13{
    background-color: whitesmoke;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    opacity: 0.5;
}
.second-para{
    text-decoration: underline;
    color:#92ac5b;
    margin:20px 0px;
}
.third-para{
    text-decoration: overline;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    margin-bottom: 20px;
}



